about==5.2
asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==6.3.2
Django==4.0.3
django-crispy-forms==1.14.0
django-phone-field==1.8.1
django-phonenumber-field==6.1.0
gunicorn==20.1.0
idna==3.3
item==0.0.3
phonenumbers==8.12.46
Pillow==9.1.0
psycopg2-binary==2.9.3
pytils==0.4.1
requests==2.27.1
selection==0.0.14
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
user-agent==0.1.10
view==0.1
weblib==0.1.30
whitenoise==6.0.0
