{% extends 'base/base.html' %}
{% load static %}
{% block main_content %}
    <body class="main-content">
    <header class="section sec1 header active" id="home">
        <div class="main-header">
            <div class="logo">K.Hristov</div>
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="menu-icon_line"></span>
            </label>
            <ul class="nav-links">
                <li class="nav-link"><a href={% url 'show index' %}>Home</a></li>
                <li class="nav-link"><a href={% url 'about me' %}>About</a></li>
                <li class="nav-link"><a href="{% url 'portfolio' %}">Portfolio</a></li>
                <li class="nav-link"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <ul class="secondary">
                <li class="secondary-link"><a href="">Careers</a></li>
            </ul>
        </div>
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="{% static 'img/design2.png' %}" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    Password reset complete
                </h1>
                <p>Your new password has been set. You can log in now on the <a href="{% url 'login user' %}">HERE</a>
                </p>
            </div>
        </div>
    </header>



{% endblock %}


