{% extends 'base/navigation.html' %}
{% load static %}
{% block main_mnavigation %}
    <main>
        <section class="section sec4 active " id="blogs">
            <div class="blogs-content">
                <div class="main-title">
                    <h2>Tutorials <span class="logo port-text-logo">K.Hristov</span><span
                            class="bg-text">K. Hristov</span></h2>
                </div>
                <div class="blogs">
                    <div class="blog">
                        <img src="{% static 'img/design1.jpg' %}" alt="">
                        <div class="blog-text">
                            <h4>
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="{% static 'img/design10.jpg' %}" alt="">
                        <div class="blog-text">
                            <h4>
                                Lorem ipsum dolor sit amet consectetur.
                            </h4>
                            <p>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="{% static 'img/design11.jpg' %}" alt="">
                        <div class="blog-text">
                            <h4>
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="{% static 'img/design3.jpg' %}" alt="">
                        <div class="blog-text">
                            <h4>
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="{% static 'img/design7.jpg' %}" alt="">
                        <div class="blog-text">
                            <h4>
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="{% static 'img/design8.jpg' %}" alt="">
                        <div class="blog-text">
                            <h4>
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- <div class="controlls">
        <div class="control  control-1 active-btn" data-id="home">
            <i class="fas fa-home"></i>
        </div>
        <div class="control control-2 " data-id="about">
            <i class="fas fa-user"></i>
        </div>
        <div class="control control-3" data-id="portfolio">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="control control-4" data-id="blogs">
            <i class="far fa-newspaper"></i>
        </div>
        <div class="control control-5" data-id="contact">
            <i class="fas fa-envelope-open"></i>
        </div>
    </div> -->

    <!-- <div class="theme-btn">
        <i class="fas fa-adjust"></i>
    </div> -->

{% endblock %}

</html>