@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'sans-serif';
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.container p {
  margin: 1rem auto;
}

.logo {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lavishly Yours', cursive;
}

.login-item {
  position: absolute;
  right: 40px;
  top: 30px;
}

.login-item ul li {
  display: inline;
}

.hero {
  height: 100vh;
  background: url("../img/design1.jpg") no-repeat bottom center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
  color: white;
}

.hero h1 {
  position: relative;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 20px 0;
}

.hero h1::before, .hero h1::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}

.hero h1::before {
  left: 0;
  border-bottom: 6px solid black;
}

.hero h1::after {
  right: 0;
  border-top: 6px solid black;
}

.hero h1 span {
  font-size: 1.5rem;
  color: #ccc5c5;
}

.main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10 vw;
  color: black;
  z-index: 1;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.main-header .secondary {
  position: absolute;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .secondary .secondary-link {
  list-style: none;
  margin: .2rem;
  padding: 1rem .5rem;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-header .nav-links .nav-link a {
  margin: .2rem;
  padding: 1rem .5rem;
}

.main-header .nav-links .nav-link a:hover {
  color: rgba(15, 15, 15, 0.5);
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
}

.main-header .menu-icon .menu-icon_line {
  display: block;
  position: relative;
  background: black;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.main-header .menu-icon .menu-icon_line::before, .main-header .menu-icon .menu-icon_line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: black;
  -webkit-transition: background .8s ease-in-out;
  transition: background .8s ease-in-out;
}

.main-header .menu-icon .menu-icon_line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-header .menu-icon .menu-icon_line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.main-header .menu-btn {
  display: none;
}

.main-header.scrolled {
  height: 50px;
  background-color: black;
  color: white;
}

.main-header.scrolled .menu-icon .menu-icon_line,
.main-header.scrolled .menu-icon .menu-icon_line::before,
.main-header.scrolled .menu-icon .menu-icon_line::after {
  background: white;
}

@media screen and (max-width: 767px) {
  .hero h1 {
    font-size: 2rem;
  }
  .main-header .menu-icon {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-header .secondary {
    display: none;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: space-evenly;
        justify-self: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: white;
    background: #272727;
    -webkit-transition: opacity .8s .5s, -webkit-clip-path 1s .5s;
    transition: opacity .8s .5s, -webkit-clip-path 1s .5s;
    transition: opacity .8s .5s, clip-path 1s .5s;
    transition: opacity .8s .5s, clip-path 1s .5s, -webkit-clip-path 1s .5s;
    -webkit-clip-path: circle(200px at top left);
            clip-path: circle(200px at top left);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.4s ease-in-out 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    transition: opacity 0.4s ease-in-out 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon_line {
    background: white;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon_line::before {
    background: white;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon_line::after {
    background-color: white;
  }
}
/*# sourceMappingURL=nav.css.map */