.btn-quotes {
    color: var(--color-grey-3) !important;
    display: flex !important;
    justify-content: flex-start !important;
    box-shadow: 6px 6px 10px gray !important;
    background-color: var(--color-grey-1)!important;
    padding: 1rem;
    border-radius: 30px;
    cursor: progress;
    border: none;


}

.description {
    height: 100vh;
    background-color: red;
}
